<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="HeaderFragment">
<header>
    <nav>
        <button class="tab-menu-btn">
            <img src="/imgs/gnb/ic_tab-menu.svg" alt="메뉴버튼">
        </button>
        <div class="nav-left">
            <h1 class="gnb-logo">
                <a href="/"><img src="/imgs/logo_combination.svg" alt="로고"></a>
            </h1>
            <ul>
                <li><a href="/" class="gnb-menu-btn on">홈</a></li>
                <li><a href="" class="gnb-menu-btn">전자결재</a></li>
                <li><a href="" class="gnb-menu-btn">근태관리</a></li>
                <li><a href="" class="gnb-menu-btn">일정관리</a></li>
                <li><a href="" class="gnb-menu-btn">게시판</a></li>
                <li><a href="" class="gnb-menu-btn">조직도</a></li>
                <li><a href="/admin/company-info" class="gnb-menu-btn">관리자</a></li>
            </ul>
        </div>
        <div class="profile-menu">
            <button class="gnb-icon on invite"><img src="/imgs/gnb/ic_invite.svg" alt="초대"></button>
            <button class="gnb-icon alarm"><img src="/imgs/gnb/ic_alarm.svg" alt="알림" class="gnb-icon alarm"></button>
            <a href="/user/profile" class="avatar-wrap">
                <img src="/imgs/202301261737390.jpg" alt="프로필" class="avatar">
                <span class="first-name">김</span>
            </a>
            <button class="logout" onclick="location.href='/logoutProcess'">로그아웃</button>
        </div>
    </nav>
    <div class="modal-wrap">
        <th:block th:insert="~{common/fragments/modal/invite-modal :: inviteModalFragment}"></th:block>
        <th:block th:insert="~{common/fragments/modal/alarm-modal :: alarmModalFragment}"></th:block>
    </div>
</header>
</html>