<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      >
<div id="inviteModal" class="invite-modal" th:fragment="inviteModalFragment">
    <div class="modal-head">
        <h3 class="caption-xs font-bold">요청</h3>
        <button class="close-modal"><img src="/imgs/main/ic_cancle_small-24x24.svg" alt="취소"></button>
    </div>
    <div class="modal-inner">
        <div class="modal-content">
            <h3 class="content-title caption-xs">새로운 가입 요청이 있어요.</h3>
            <div class="content-info invite caption-xxs">
                <p>아이디 : rlawlgh486@naver.com</p>
                <p>코드 : 246825</p>
            </div>
            <div class="modal-btn-wrap">
                <button class="modal-btn">
                    수락
                </button>
                <button class="modal-btn cancel">
                    거절
                </button>
            </div>
        </div>
    </div>
    <div class="modal-footer"></div>
</div>
</html>