<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="sideMenuFragment">
<aside class="lnb-container">
        <h1 class="lnb-title font-bold body-md">관리자</h1>
        <ul class="lnb">
            <li class="lnb-menu">
                <a href="/admin/company-info" class="lnb-style lnb-menu-item">
                    <span>회사정보</span>
                </a>
            </li>
            <li class="lnb-menu">
                <div class="lnb-style lnb-menu-item">
                    <span>출퇴근 관리</span>
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 11.825L8.825 8L5 4.175L6.18333 3L11.1833 8L6.18333 13L5 11.825Z"
                              fill="#616161"/>
                    </svg>
                </div>
                <ul class="lnb-submenu">
                    <li>
                        <a href="/admin/work-time" class="lnb-style lnb-submenu-item">출퇴근 관리</a>
                    </li>
                    <li>
                        <a href="" class="lnb-style lnb-submenu-item">출퇴근 설정</a>
                    </li>
                </ul>
            </li>
            <li class="lnb-menu">
                <div class="lnb-style lnb-menu-item">
                    <span>근무/휴가 관리</span>
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 11.825L8.825 8L5 4.175L6.18333 3L11.1833 8L6.18333 13L5 11.825Z"
                              fill="#616161"/>
                    </svg>
                </div>
                <ul class="lnb-submenu">
                    <li>
                        <a href="" class="lnb-style lnb-submenu-item">하위메뉴</a>
                    </li>
                    <li>
                        <a href="" class="lnb-style lnb-submenu-item">하위메뉴</a>
                    </li>
                    <li>
                        <a href="" class="lnb-style lnb-submenu-item">하위메뉴</a>
                    </li>
                </ul>
            </li>
            <li class="lnb-menu">
                <div class="lnb-style lnb-menu-item">
                    <span>조직원 관리</span>
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 11.825L8.825 8L5 4.175L6.18333 3L11.1833 8L6.18333 13L5 11.825Z"
                              fill="#616161"/>
                    </svg>
                </div>
                <ul class="lnb-submenu">
                    <li>
                        <a href="" class="lnb-style lnb-submenu-item">하위메뉴</a>
                    </li>
                    <li>
                        <a href="" class="lnb-style lnb-submenu-item">하위메뉴</a>
                    </li>
                    <li>
                        <a href="" class="lnb-style lnb-submenu-item">하위메뉴</a>
                    </li>
                </ul>
            </li>
            <li class="lnb-menu">
                <a href="" class="lnb-style lnb-menu-item">
                    <span>환경 설정</span>
                </a>
            </li>
        </ul>
</aside>
</html>