#main-container {
    display: grid;
    grid-template-columns: minmax(680px, 1fr) 640px;
    gap: 40px;
    padding-top: 32px;
}

.dashboard-box {
    height: fit-content;
    padding: 16px;
    border-radius: 20px;
    background-color: var(--gray-100);
    box-shadow: var(--main-shadow);
}

.dashboard-box.white {
    background-color: var(--main-bg-white);
}

.title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    padding: 8px 14px;
}

.title-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.check-electric { color: var(--main-bg-color); }

.show-all {
    display: inline-block;
    font-size: var(--caption-xs-font-size);
    font-weight: var(--medium-weight);
    text-decoration: underline;
    color: var(--gray-600);
}

.show-detail { color: var(--gray-600); }

.electric-card, .contents-card {
    display: grid;
    place-content: center;
    align-items: center;
    height: 50px;
    margin-bottom: 8px;
    padding: 14px;
    background-color: var(--main-bg-white);
    border-radius: 10px;
}

.electric-card { grid-template-columns: minmax(168px, 1fr) 440px; }

.contents-card {
    grid-template-columns: minmax(475px, 1fr) 133px;
    gap: 12px;
    height: 65px;
    border-radius: 0;
    border-bottom: 1px solid var(--gray-200);
}

.electric_card:last-child, .contents-card:last-child { margin-bottom: 0; }
.contents-card:last-child {
    border-bottom: none;
}

.list-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.writer-info, .writer-name {
    display: flex;
    align-items: center;
    padding: 0 8px;
}
.writer-info {
    width: 300px;
    justify-content: center;
    gap: 12px;
}
.writer-name { gap: 4px; }

.writer-info p {
    width: 150px;
    text-align: center;
    position: relative;
}

.writer-info p::before,
.writer-info p::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 19px;
    background-color: var(--gray-300);
}
.writer-info p::before { left: -6px; }
.writer-info p::after { right: -6px; }

/* --------------------------------------------------------------- */

/* 근태관리 */
.status-container {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.dashboard-box.attendance {
    width: 312px;
}

.timer {
    width: 279px;
    height: 214px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid var(--gray-300);
    border-radius: 8px;
}

.today, .status-attendance {
    font-weight: var(--medium-weight);
    color: var(--gray-700);
}

.punch-in {
    width: 100%;
    border-radius: 10px;
}

/* 휴가현황 */
.vacation {
    width: 340px;
}