.date-pick-section, .select-cal, .select-emp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-cal {
    justify-content: flex-start;
    gap: 4px;
    padding: 3px 4px;
    cursor: pointer;
}

/* 달력설정 */
.shadow {
    min-height: 280px;
    box-shadow: var(--main-shadow);
}

.cal-drop {
    display: none;
    margin-top: 6px;
    position: absolute;
    z-index: 100;
}

.cal-drop.on { display: block; }

.select-emp {
    position: relative;
    margin: 40px 0;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

/* 근무시간 테이블 영역 */
.table-title, .table-content {
    display: grid;
    grid-template-columns: repeat(9, max(70px));
    justify-content: space-between;
    gap: 58px;
    padding: 6px 4px;
    font-size: var(--caption-xxs-font-size);
    font-weight: var(--regular-weight-400);
}

.table-title {
    margin-bottom: 16px;
    color: var(--gray-600);
    border-bottom: 2px solid var(--gray-300);
}

.table-content {
    margin-bottom: 10px;
    border-bottom: 1px solid var(--gray-200);
}

.table-data.dept-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-data.highlight { color: var(--main-bg-color) }

.table-data.edit-data { position: relative; }

.table-data.edit-data p,
.table-data.edit-data .edit-btn-box {
    position: absolute;
}

.table-data.edit-data .edit-btn-box { top: -6px; }

.table-data.edit-data .edit-btn-box { display: none; }
.table-data.edit-data .edit-btn-box.on { display: block; }