.date-pick-section, .select-cal, .select-emp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-cal {
    justify-content: flex-start;
    gap: 4px;
    padding: 3px 4px;
    cursor: pointer;
}

/* 달력설정 */
.shadow {
    min-height: 280px;
    box-shadow: var(--main-shadow);
}

.cal-drop {
    display: none;
    margin-top: 6px;
    position: absolute;
    z-index: 100;
}

.cal-drop.showup { display: block; }

.select-emp {
    position: relative;
    margin: 40px 0;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

/* 근무시간 테이블 영역 */
.table-title, .table-content {
    display: grid;
    grid-template-columns: repeat(9, minmax(70px, 1fr));
    /*justify-content: space-between;*/
    gap: 58px;
    padding: 6px 4px;
    font-size: var(--caption-xxs-font-size);
    font-weight: var(--regular-weight-400);
}

.date-table.off {
    display: none;
}

.weekMonth-table .table-title, .weekMonth-table .table-content {
    grid-template-columns: repeat(8, minmax(70px, 1fr));
}

.table-title {
    margin-bottom: 16px;
    color: var(--gray-600);
    border-bottom: 2px solid var(--gray-300);
}

.table-content {
    margin-bottom: 10px;
    border-bottom: 1px solid var(--gray-200);
}

.table-data.dept-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-data.highlight { color: var(--main-bg-color) }

.table-data.edit-data { position: relative; }

.table-data.edit-data p,
.table-data.edit-data .edit-btn-box {
    position: absolute;
}

.table-data.edit-data .edit-btn-box { top: -6px; }

.table-data.edit-data .edit-btn-box { display: none; }
.table-data.edit-data .edit-btn-box.on { display: block; }

/* 주, 월단위 사원카드 */
.week-month-wrap {
    display: none;
}

.week-month-wrap.on {
    display: block;
}

.table-grid {
    display: grid;
    grid-template-columns: 240px 1fr;
    gap: 40px;
}

.emp-work-info {
    height: 352px;
    padding: 14px 16px;
    background-color: var(--gray-100);
    border-radius: 10px;
}

.emp-info, .work-times > li { display: flex; }

.emp-info {
    align-items: flex-end;
    gap: 6px;
}

.work-times > li {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 6px;
    border-bottom: 1px solid var(--gray-300);
    margin-bottom: 16px;
}

.emp-info .emp-name {
    font-size: var(--body-sm-font-size);
    font-weight: var(--bold-weight-700);
}

.emp-info .emp-position {
    font-size: var(--caption-xxs-font-size);
    font-weight: var(--medium-weight-500);
}

.daily-rate {
    margin: 16px 0 12px;
    font-size: var(--caption-xxxs-font-size);
}

.work-times li p:first-child {
    font-size: var(--caption-xxs-font-size);
    font-weight: var(--medium-weight-500);
}

.work-times li p:last-child {
    font-size: var(--caption-xs-font-size);
    font-weight: var(--medium-weight-500);
}