<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<div id="alarmModal" class="alarm-modal" th:fragment="alarmModalFragment">
    <div class="modal-head">
        <h3 class="caption-xs font-bold">알림</h3>
        <button class="close-modal"><img src="/imgs/main/ic_cancle_small-24x24.svg" alt="취소"></button>
    </div>
    <div class="modal-inner alarm">
        <div class="modal-content">
            <div class="content-title alarm">
                <p class="caption-xs alarm">카테고리</p>
                <span class="alarm-circle"></span>
            </div>
            <div class="content-info alarm caption-xs">
                <p>글자는 최대 2줄 까지 노출됩니다. 글자는 최대 2줄 까지 노출됩니다.글자는 최대 2줄 까지 노출됩니다.</p>
            </div>
            <p class="period-date caption-xxs">1달 전</p>
        </div>
        <div class="modal-content">
            <div class="content-title alarm">
                <p class="caption-xs alarm">카테고리</p>
                <span class="alarm-circle"></span>
            </div>
            <div class="content-info alarm caption-xs">
                <p>글자는 최대 2줄 까지 노출됩니다. 글자는 최대 2줄 까지 노출됩니다.글자는 최대 2줄 까지 노출됩니다.</p>
            </div>
            <p class="period-date caption-xxs">1달 전</p>
        </div>
        <div class="modal-content">
            <div class="content-title alarm">
                <p class="caption-xs alarm">카테고리</p>
                <span class="alarm-circle"></span>
            </div>
            <div class="content-info alarm caption-xs">
                <p>글자는 최대 2줄 까지 노출됩니다. 글자는 최대 2줄 까지 노출됩니다.글자는 최대 2줄 까지 노출됩니다.</p>
            </div>
            <p class="period-date caption-xxs">1달 전</p>
        </div>
        <div class="modal-content">
            <div class="content-title alarm">
                <p class="caption-xs alarm">카테고리</p>
                <span class="alarm-circle"></span>
            </div>
            <div class="content-info alarm caption-xs">
                <p>글자는 최대 2줄 까지 노출됩니다. 글자는 최대 2줄 까지 노출됩니다.글자는 최대 2줄 까지 노출됩니다.</p>
            </div>
            <p class="period-date caption-xxs">1달 전</p>
        </div>
    </div>
</div>
</html>