@media screen and (max-width: 1024px) {
     /*join, login 푸터 */
    .sign-container {
        height: 100vh;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /*#join-footer {*/
    /*    height: 161px;*/
    /*}*/
}