<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="~{common/fragments/config :: configFragment}"></th:block>
<body>
<div class="sign-container">
    <h1 class="title-xl font-bold join">비밀번호 재설정</h1>
    <form action="" id="joinForm" class="password-form">
        <div class="input-wrap">
            <div class="input-password">
                <label for="password"></label>
                <input type="password" name="" id="password" class="input-box" placeholder="비밀번호" minlength="8"
                       maxlength="32">
            </div>
            <div class="message-wrap">
                <p class="message info">영문 대소문자, 숫자, 특수문자 3가지 이상으로 조합하여</p>
                <p class="message info">8자 이상 32자 이하로 입력해주세요.</p>
            </div>
        </div>
        <div class="password-chk-wrap">
            <label for="passwordChk"></label>
            <input type="password" name="" id="passwordChk" class="input-box" placeholder="비밀번호 확인">
        </div>
        <p class="message error">비밀번호가 일치하지 않습니다.</p>
    </form>
    <button class="primary-btn long" form="joinForm" disabled>
        <span>다음</span>
    </button>
    <a href="/login/find-pw" class="text-btn back">돌아가기</a>
</div>
<th:block th:insert="~{common/fragments/accountFooter :: accountFooterFragment}"></th:block>

<script layout:fragment="pageScripts" src="/js/account/setPassword.js"></script>
</body>
</html>