<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="~{common/fragments/config :: configFragment}"></th:block>
<body>
<div class="sign-container">
    <h1 class="title-xl font-bold join">아이디 생성</h1>
    <form action="" id="joinForm" class="email-form">
        <div class="input-wrap">
            <div class="email-wrap">
                <label for="inputEmail"></label>
                <input type="email" name="" id="inputEmail" class="input-box"
                       placeholder="이메일 ex) chuckchuck@naver.com">
            </div>
            <p class="message info">이메일을 입력하고 전송을 눌러주세요.</p>
        </div>
        <div class="verify-container">
            <div class="verify-input-wrap">
                <label for="verifyCode"></label>
                <input type="text" name="" id="verifyCode" class="input-box" placeholder="인증번호 (숫자6자리)">
            </div>
            <div class="time-container">
                <div class="code-time-wrap">
                    <p class="message code">2분 내로 인증을 완료해주세요.</p>
                    <p class="message code time">00:00</p>
                </div>
                <a href="" class="resend-btn">재전송</a>
            </div>
        </div>
    </form>
    <button class="primary-btn long" form="joinForm" disabled>
        <span>전송하기</span>
    </button>
    <a href="/join" class="text-btn back">돌아가기</a>
</div>
<th:block th:insert="~{common/fragments/accountFooter :: accountFooterFragment}"></th:block>

<script layout:fragment="pageScripts" src="/js/account/verifyEmail.js"></script>
</body>
</html>