#lottie-container {
    width: 100%;
    height: 100px; /* 또는 원하는 고정 높이 */
    max-width: 100px; /* 애니메이션의 최대 너비 설정 */
    margin: auto;
}


.inner {
    padding: 40px;
    height: 100%;
    min-height: calc(100vh - 66px);
    background-color: #FAFAFA;
}

/* 관리자페이지 */
.page-grid {
    display: grid;
    grid-template-columns: 220px 1fr;
}

.inner.admin {
    background-color: var(--main-bg-white);
}

/* input, button 초기설정 */
button {
    outline: none;
    cursor: pointer;
}

button:disabled, button[disabled] {
    background-color: var(--gray-500);
    color: var(--main-bg-white);
    pointer-events: none;
}

input:focus {
    outline: none;
    border: 1px solid var(--main-bg-black) !important;
}

/* 크롬 자동완성 스타일 */
input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-transition: background-color 9999s ease-out;
    -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
}

input:-webkit-autofill[readonly] {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-transition: background-color 9999s ease-out;
    -webkit-box-shadow: 0 0 0 1000px var(--gray-200) inset !important;
}

input[readonly] { cursor: not-allowed; }
input[readonly]:focus { border: 1px solid #8C8C8C; }

/* 인풋넘버 화살표 없애기 */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    cursor: text;
}

/* buttons */
.text-btn {
    display: inline-block;
    font-size: var(--title-lg-font-size);
    color: var(--gray-700);
}

/* primary long & short */
.primary-btn,
.google-login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 64px;
    border-radius: 20px;
    padding: 18px 32px;
    background-color: var(--main-bg-color);
    color: var(--main-bg-white);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    font-size: var(--body-md-font-size);
    font-weight: var(--bold-weight-700);
}

.primary-btn img {
    height: 32px;
}

/* sub 버튼*/
.sub-btn, .confirm-btn {
    width: fit-content;
    height: 20px;
    border-radius: 3px;
    padding: 2px 6px;
    font-size: var(--caption-xxs-font-size);
    font-weight: var(--medium-weight-500);
    background-color: var(--main-bg-color);
    color: var(--main-bg-white);
}

.confirm-btn {
    width: 56px;
    height: 24px;
}

.sub-btn.cancel,
.confirm-btn.cancel {
    background-color: var(--main-bg-white);
    border: 1px solid var(--gray-300);
    color: var(--main-bg-black);
}

/* 일,주,월 버튼 */
.date-pick-wrap, .date-pick {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.date-pick { justify-content: center; gap: 0; }

.date-btn {
    width: 40px;
    height: 28px;
    padding: 2px 3px;
    border-radius: 4px;
    border: 0.5px solid var(--gray-300);
    background-color: var(--main-bg-white);
    color: var(--gray-700);
    font-size: var(--body-sm-font-size);
    font-weight: var(--medium-weight-500);
    text-align: center;
    line-height: 21px;
}

.date-btn.on {
    background-color: var(--main-bg-color);
    color: var(--main-bg-white);
}

.date-btn.date-day {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

.date-btn.date-week { border-radius: 0; }

.date-btn.date-month {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
}

.edit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    padding: 2px 0;
    border-radius: 4px;
    background-color: var(--gray-500);
}

.edit-btn span {
    font-size: var(--caption-xxs-font-size);
    font-weight: var(--medium-weight-500);
    color: var(--main-bg-white);
}

/* 호버 */
.primary-btn:hover {
    background-color: var(--main-bg-hover-color);
}

.primary-btn.short {
    width: 161px;
}

.primary-btn.long {
    width: 520px;
}

.primary-btn.secondary {
    background-color: var(--main-bg-white);
    color: var(--main-bg-black);
    border: 1px solid var(--gray-600);
}

/* google 로그인 버튼 */
.google-login-btn {
    width: 520px;
    padding: 14px 37px;
    background-color: var(--main-bg-white);
    border: 1px solid var(--gray-400);
    color: var(--main-bg-black);
    box-shadow: none;
}

/* input */
.input-box {
    width: 520px;
    height: 69px;
    border: 1px solid #8C8C8C;
    padding: 24px;
    border-radius: 20px;
    background-color: var(--main-bg-white);
}

.input-box.small {
    width: 440px;
    height: 48px;
    border-radius: 10px;
    padding: 12px;
    border: 1px solid var(--gray-300);
}

/* 검색 상자 */
.input-box.search {
    width: 160px;
    height: 40px;
    padding: 8px 12px 8px 36px;
    font-size: var(--caption-xs-font-size);
}
label[for^="search"] { position: relative; }
label[for^="search"]::before {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    top: -1px;
    left: 10px;
    background: url("/imgs/ic_search.svg") no-repeat center;
}

/* 부서 셀렉트 박스 */
.select-wrap { width: 160px; }
.select-box {
    width: 100%;
    height: 40px;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid var(--gray-300);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.select-box .select-one {
    font-size: var(--caption-xs-font-size);
    font-weight: var(--medium-weight-500);
    color: var(--gray-400);
}

.select-box img { transform: rotate(90deg); }

.sel-options {
    display: none;
    position: absolute;
    width: 160px;
    margin-top: 6px;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: var(--main-bg-white);
    box-shadow: var(--main-shadow);
    font-size: var(--caption-xxs-font-size);
    font-weight: var(--medium-weight-500);
}

.sel-options.active {
    display: block;
}

.sel-options p { cursor: pointer; }
.sel-options p:not(:last-child) { margin-bottom: 10px; }

/* 체크박스 */
label:not([for^="birth"]) { cursor: pointer; }

/* 체크박스 네모 */
.square-check-box[type=checkbox] {
    opacity: 0;
    position: absolute;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.square-check-box[type=checkbox] + label {
    display: inline-block;
    background-image: url("/imgs/check_box_square-off.svg");
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 24px;
    color: transparent;
    width: 24px;
    height: 24px;
    transition: background-image .3s ease-in-out;
}

.square-check-box[type=checkbox]:checked + label {
    background-image: url("/imgs/check_box_square.svg");
    transition: background-image .3s ease-in-out;
}

/* 체크박스 동그라미 */
.circle-check-box[type=checkbox] {
    opacity: 0;
    position: absolute;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.circle-check-box[type=checkbox] + label {
    display: inline-block;
    background-image: url("/imgs/check_box_rounded-off.svg");
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 24px;
    color: transparent;
    width: 24px;
    height: 24px;
    transition: background-image .3s ease-in-out;
}

.circle-check-box[type=checkbox]:checked + label {
    background-image: url("/imgs/check_box_rounded.svg");
    transition: background-image .3s ease-in-out;
}

/* --------------------------------------------------------------- */

/* 404page */
.page-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: center;
}

.page-container .head { color: var(--main-bg-color); }

.page-container .head h1 { font-size: 128px; }
.page-container .head h3, .page-container p { font-size: 29px; }
.page-container p { margin-bottom: 71px; }

/* --------------------------------------------------------------- */

/* 근무시간 변경 모달 */
.time-edit-modal {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.25);
}

.time-edit-modal.open { display: block; }

.edit-modal-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 240px;
    padding: 17px 17px 10px 22px;
    border-radius: 10px;
    background-color: var(--main-bg-white);
}

.edit-modal-header span {
    font-size: var(--body-md-font-size);
    font-weight: var(--medium-weight-500);
}

.work-time-wrap, .after-edit {
    display: flex;
}
.work-time-wrap {
    margin: 27px 0 15px;
    gap: 15px;
}
.work-time-wrap img { margin-top: 10px; }

.after-edit { flex-direction: column; }
.edit-text {
    margin-bottom: 3px;
    font-size: var(--caption-xxs-font-size);
    font-weight: var(--regular-weight-400);
    color: var(--gray-600);
}

.work-time-box {
    width: 100px;
    height: 40px;
    padding: 5px 21px;
    border-radius: 4px;
    background-color: var(--gray-400);
    text-align: center;
}

.before-time {
    line-height: 30px;
    color: var(--main-bg-white);
}

.work-time-input {
    background-color: var(--main-bg-white);
    border: 1px solid var(--gray-300);
}
.edit-work-info { line-height: 21px; }
.edit-btn-wrap {
    margin-top: 52px;
    text-align: right;
}