<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="~{common/fragments/config :: configFragment}"></th:block>

<body>
<th:block th:insert="~{common/fragments/header :: HeaderFragment}"></th:block>

<th:block layout:fragment="content"></th:block>

<th:block th:insert="~{common/fragments/footer :: footerFragment}"></th:block>

<!-- 페이지별 js 영역 -->
<th:block layout:fragment="pageScripts"></th:block>
<!-- 공통 js 들어오는 곳 -->
<th:block th:replace="~{common/fragments/scripts :: scriptsFragment}"></th:block>
</body>

</html>