.profile-wrap { margin-bottom: 48px }

.detail-wrap h1 {
    font-size: var(--body-sm-font-size);
    font-weight: var(--bold-weight-700);
}

.personal-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 16px 0 24px;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 60px;
    font-size: var(--caption-xs-font-size);
    font-weight: var(--medium-weight-500);
    color: var(--gray-600);
}

.info-item p:first-child {
    width: 62px;
}

.profile-edit-btn {
    padding: 12px;
    height: auto;
    border-radius: 10px;
    font-size: var(--body-sm-font-size);
    letter-spacing: var(--font-letterspacing-2);
}

.terms-agree ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: var(--caption-xs-font-size);
    font-weight: var(--medium-weight-500);
    color: #5284DB;
}

.terms-agree ul span { cursor: pointer }

.terms-agree ul li:last-child { color: rgba(255, 22, 26, 0.8) }