<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chuck Chuck</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/imgs/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/imgs/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/imgs/favicon-96x96.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="page-container">
        <div class="head font-bold">
            <h1>404</h1>
            <h3>Page not found</h3>
        </div>
        <p class="font-bold">앗! 뭐든지 척척 잘해볼려고 했는데 잘 안됐네요.</p>
        <button class="primary-btn" onclick="location.href='/'">
            <span>홈으로 돌아가기</span>
        </button>
    </div>

</body>
</html>