<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/baseLayout}">
<div layout:fragment="content" class="inner">
    <div id="main-container">

        <!--  전자결재  -->
        <div class="dashboard-box electric">
            <div class="title-bar">
                <div class="title-left">
                    <img src="/imgs/main/ic_fill_electric.svg" alt="전자결재아이콘">
                    <h1 class="body-md font-bold">전자결재</h1>
                    <p class="caption-xxs font-medium check-electric">확인하지 않은 결재 (7)</p>
                </div>
                <a href="" class="show-all">전체보기</a>
            </div>
            <div class="electric-card">
                <p class="list-title caption-xs font-bold">최대 표시 글자 확인용 최대 표시 글자 확인용 최대 표시 글자 확인용 최대 표시 글자 확인용 최대 표시 글자
                    확인용 최대 표시 글자 확인용 최대 표시 글자 확인용 최대 표시 글자 확인용</p>
                <div class="list-right">
                    <div class="writer-info">
                        <p class="caption-xs font-regular">2024.12.24(금) 09:42</p>
                        <div class="writer-name">
                            <div class="avatar-wrap">
                                <img src="/imgs/202301261737390.jpg" alt="" class="avatar">
                                <span class="first-name">김</span>
                            </div>
                            <span class="caption-xs font-medium">김지훈</span>
                        </div>
                    </div>
                    <a href="" class="show-detail caption-xxs font-medium">자세히 보기 &gt;</a>
                </div>
            </div>
        </div>

        <!--  스케줄  -->
        <div class="dashboard-box schedule">
            <div class="title-bar">
                <div class="title-left">
                    <img src="/imgs/main/ic_fill_calender.svg" alt="스케줄">
                    <h1 class="body-md font-bold">스케줄</h1>
                </div>
                <a href="" class="show-all">전체보기</a>
            </div>
            <div class="schedule-container">
                <div class="schedule-card calender-card">
                    <div class="calender-head">
                        <button id="prev-btn">
                            <img src="/imgs/ic_move_in.svg" alt="화살표">
                        </button>
                        <div class="month-year caption-xs font-bold">
                            <span></span>
                            <span></span>
                        </div>
                        <button id="next-btn">
                            <img src="/imgs/ic_move_in.svg" alt="화살표">
                        </button>
                    </div>
                    <ul class="weekday caption-xxs">
                        <li>SUN</li>
                        <li>MON</li>
                        <li>TUE</li>
                        <li>WED</li>
                        <li>THU</li>
                        <li>FRI</li>
                        <li>SAT</li>
                    </ul>
                    <div class="days-container">
                    </div>
                </div>
                <div class="schedule-card">
                    <div class="schedule-content">
                        <div class="schedule-header caption-xs font-bold">
                            12월 9일
                        </div>
                        <div class="content-list">
                            <p class="schedule-time caption-xxs">12:00</p>
                            <div class="cal-color"></div>
                            <p class="cal-title caption-xs">BX팀 외부 미팅</p>
                        </div>
                        <div class="content-list">
                            <p class="schedule-time caption-xxs">14:30</p>
                            <div class="cal-color" style="background-color: #6E17FF;"></div>
                            <p class="cal-title caption-xs">박팀장님과 점심 약속</p>
                        </div>
                    </div>
                    <div class="schedule-content">
                        <div class="schedule-header caption-xs font-bold">
                            12월 10일
                        </div>
                        <div class="content-list">
                            <p class="schedule-time caption-xxs">등록된 일정이 없습니다.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--  공지사항  -->
        <div class="dashboard-box white">
            <div class="title-bar">
                <div class="title-left">
                    <img src="/imgs/main/ic_fill_notice.svg" alt="공지사항">
                    <h1 class="body-md font-bold">공지사항</h1>
                </div>
                <a href="" class="show-all">전체보기</a>
            </div>
            <div class="contents-card">
                <div class="list-title caption-xs font-bold">
                    최대 표시 글자 확인용 최대 표시 글자 확인용 최대 표시 글자 확인용 최대 표시 글자 확인용 최대 표시 글자 확인용 최대 표시 글자 확인용 최대 표시 글자 확인용 최대 표시 글자 확인용
                </div>
                <div class="write-date caption-xs font-regular">
                    <p>2024.12.24(금) 09:42</p>
                </div>
            </div>
            <div class="contents-card">
                <div class="list-title caption-xs font-bold">
                    최대 표시 글자 확인용 최대 표시 글자 확인용 최대 표시 글자 확인용 최대 표시 글자 확인용 최대 표시 글자 확인용 최대 표시 글자 확인용 최대 표시 글자 확인용 최대 표시 글자 확인용
                </div>
                <div class="write-date caption-xs font-regular">
                    <p>2024.12.24(금) 09:42</p>
                </div>
            </div>
            <div class="contents-card">
                <div class="list-title caption-xs font-bold">
                    최대 표시 글자 확인용 최대 표시 글자 확인용 최대 표시 글자 확인용 최대 표시 글자 확인용 최대 표시 글자 확인용 최대 표시 글자 확인용 최대 표시 글자 확인용 최대 표시 글자 확인용
                </div>
                <div class="write-date caption-xs font-regular">
                    <p>2024.12.24(금) 09:42</p>
                </div>
            </div>
            <div class="contents-card">
                <div class="list-title caption-xs font-bold">
                    최대 표시 글자 확인용 최대 표시 글자 확인용 최대 표시 글자 확인용 최대 표시 글자 확인용 최대 표시 글자 확인용 최대 표시 글자 확인용 최대 표시 글자 확인용 최대 표시 글자 확인용
                </div>
                <div class="write-date caption-xs font-regular">
                    <p>2024.12.24(금) 09:42</p>
                </div>
            </div>
        </div>

        <!--  출퇴근 및 휴가현황  -->
        <div class="status-container">

            <!--  출퇴근관리  -->
            <div class="dashboard-box white attendance">
                <div class="title-bar">
                    <div class="title-left">
                        <img src="/imgs/main/ic_attendance.svg" alt="출퇴근">
                        <h1 class="body-md font-bold">출퇴근 관리</h1>
                    </div>
                </div>
                <div class="timer">
                    <div class="today caption-xs"></div>
                    <div class="current-time display font-bold"></div>
                    <div class="status-attendance body-sm">퇴근 완료</div>
                </div>
                <button class="primary-btn punch-in">
                    <span>출근하기</span>
                </button>
            </div>

            <!--  휴가현황  -->
            <div class="dashboard-box white vacation">
                <div class="title-bar">
                    <div class="title-left">
                        <img src="/imgs/main/ic_vacation.svg" alt="휴가">
                        <h1 class="body-md font-bold">휴가 현황</h1>
                    </div>
                    <a href="" class="show-all">전체보기</a>
                </div>
                <div class="contents-card vacation">
                    <div class="writer-name">
                        <div class="avatar-wrap">
                            <img src="/imgs/202301261737390.jpg" alt="" class="avatar">
                            <span class="first-name">최</span>
                        </div>
                        <span class="caption-xs font-medium">최수종</span>
                    </div>
                    <div class="write-date caption-xs font-regular">
                        <p>24.12.14~24.12.17</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script layout:fragment="pageScripts" src="/js/holiday.js"></script>
</html>
