<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/baseLayout}">
<div layout:fragment="content" class="inner">
    <div id="main-container">
        <div class="dashboard-box electric">
            <div class="title-wrap">
                <div class="title-left">
                    <img src="/imgs/main/ic_fill_electric.svg" alt="전자결재아이콘">
                    <h1 class="body-md font-bold">전자결재</h1>
                    <p class="caption-xxs font-medium check-electric">확인하지 않은 결재 (7)</p>
                </div>
                <a href="" class="show-all">전체보기</a>
            </div>
            <div class="list-wrap">
                <ul class="list-left">
                    <li class="caption-xs font-bold">[긴급] 촬영 기획 기안서</li>
                    <li class="caption-xs font-regular">2024.12.24(금) 09:42</li>
                    <li class="writer-info">
                        <div class="avatar-wrap">
                            <img src="/imgs/202301261737390.jpg" alt="" class="avatar">
                            <span class="first-name">김</span>
                        </div>
                        <span class="caption-xs font-medium">김지훈</span>
                    </li>
                </ul>
                <a href="" class="show-detail caption-xxs font-medium">자세히 보기 &gt;</a>
            </div>
            <div class="list-wrap">
                <ul class="list-left">
                    <li class="caption-xs font-bold">휴가 신청서</li>
                    <li class="caption-xs font-regular">2024.12.23(목) 13:32</li>
                    <li class="writer-info">
                        <div class="avatar-wrap">
                            <img src="/imgs/202301261737390.jpg" alt="" class="avatar">
                            <span class="first-name">정</span>
                        </div>
                        <span class="caption-xs font-medium">정연수</span>
                    </li>
                </ul>
                <a href="" class="show-detail caption-xxs font-medium">자세히 보기 &gt;</a>
            </div>
            <div class="list-wrap">
                <ul class="list-left">
                    <li class="caption-xs font-bold">리뉴얼 패키지 건의 지출결의서</li>
                    <li class="caption-xs font-regular">2024.12.23(목) 11:27</li>
                    <li class="writer-info">
                        <div class="avatar-wrap">
                            <img src="/imgs/202301261737390.jpg" alt="" class="avatar">
                            <span class="first-name">최</span>
                        </div>
                        <span class="caption-xs font-medium">최성훈</span>
                    </li>
                </ul>
                <a href="" class="show-detail caption-xxs font-medium">자세히 보기 &gt;</a>
            </div>
            <div class="list-wrap">
                <ul class="list-left">
                    <li class="caption-xs font-bold">경조금 지급 신청서</li>
                    <li class="caption-xs font-regular">
                        <span>2024.12.22(수) 09:29</span>
                    </li>
                    <li class="writer-info">
                        <div class="avatar-wrap">
                            <img src="/imgs/202301261737390.jpg" alt="" class="avatar">
                            <span class="first-name">이</span>
                        </div>
                        <span class="caption-xs font-medium">이석현</span>
                    </li>
                </ul>
                <a href="" class="show-detail caption-xxs font-medium">자세히 보기 &gt;</a>
            </div>
            <div class="list-wrap">
                <ul class="list-left">
                    <li class="caption-xs font-bold">휴가 신청서</li>
                    <li class="caption-xs font-regular">2024.12.22(목) 09:09</li>
                    <li class="writer-info">
                        <div class="avatar-wrap">
                            <img src="/imgs/202301261737390.jpg" alt="" class="avatar">
                            <span class="first-name">김</span>
                        </div>
                        <span class="caption-xs font-medium">김현정</span>
                    </li>
                </ul>
                <a href="" class="show-detail caption-xxs font-medium">자세히 보기 &gt;</a>
            </div>
        </div>
        <div class="dashboard-box schedule">
            <div class="title-wrap">
                <div class="title-left">
                    <img src="/imgs/main/ic_fill_calender.svg" alt="스케줄">
                    <h1 class="body-md font-bold">스케줄</h1>
                </div>
                <a href="" class="show-all">전체보기</a>
            </div>
            <div class="list-wrap">
                <div class="list-left caption-xs font-bold">
                    외부인 내부 방문시 필요서류
                </div>
                <div class="write-date caption-xs font-regular">
                    <p>2024.12.24(금) 09:42</p>
                </div>
            </div>
            <div class="list-wrap">
                <div class="list-left caption-xs font-bold">
                    1층 화장실 임시 통제 안내
                </div>
                <div class="write-date caption-xs font-regular">
                    <p>2024.12.24(금) 09:42</p>
                </div>
            </div>
        </div>
        <div class="dashboard-box notice">
            <div class="title-wrap">
                <div class="title-left">
                    <img src="/imgs/main/ic_fill_notice.svg" alt="공지사항">
                    <h1 class="body-md font-bold">공지사항</h1>
                </div>
                <a href="" class="show-all">전체보기</a>
            </div>
            <div class="list-wrap notice">
                <div class="list-left caption-xs font-bold">
                    외부인 내부 방문시 필요서류
                </div>
                <div class="write-date caption-xs font-regular">
                    <p>2024.12.24(금) 09:42</p>
                </div>
            </div>
            <div class="list-wrap notice">
                <div class="list-left caption-xs font-bold">
                    1층 화장실 임시 통제 안내
                </div>
                <div class="write-date caption-xs font-regular">
                    <p>2024.12.19(금) 15:28</p>
                </div>
            </div>
            <div class="list-wrap notice">
                <div class="list-left caption-xs font-bold">
                    1층 화장실 임시 통제 안내
                </div>
                <div class="write-date caption-xs font-regular">
                    <p>2024.12.18(금) 14:00</p>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
