<html lang="ko"
      xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/baseLayout}">

<div layout:fragment="content" class="inner">
    <h3 style="font-weight: bold">buttons</h3>
    <div>
        <button class="primary-btn short">
            <img src="/imgs/ic_null_object.png" alt="아이콘">
            <span>Button</span>
        </button>
        <br>
        <button class="primary-btn short secondary">
            <img src="/imgs/ic_null_object-black.png" alt="아이콘">
            <span>Button</span>
        </button>
        <br>
        <button class="primary-btn short" disabled>
            <img src="/imgs/ic_null_object.png" alt="아이콘">
            <span>Button</span>
        </button>
        <br>
    </div>
    <hr>
    <div>
        <button class="primary-btn long">
            <img src="/imgs/ic_null_object.png" alt="아이콘"><span>Button</span>
        </button>
        <br>
        <button class="primary-btn long secondary">
            <img src="/imgs/ic_null_object-black.png" alt="아이콘">
            <span>Button</span>
        </button>
        <br>
        <button class="primary-btn long" disabled>
            <img src="/imgs/ic_null_object.png" alt="아이콘">
            <span>Button</span>
        </button>
        <br>
    </div>
    <div>
        <button class="google-login-btn">
            <img src="/imgs/google_icon.png" alt="구글">
            <span>구글 계정으로 로그인하기</span>
        </button>
    </div>
    <div style="background-color: #8C8C8C; width: 150px; height: 60px; padding: 20px;">
        <button class="modal-btn">
            수락
        </button>
        <button class="modal-btn cancel">
            거절
        </button>
    </div>
    <div style="background-color: #8C8C8C; width: 200px; height: 60px; padding: 20px;">
        <button class="sub-btn">
            수정하기
        </button>
        <button class="sub-btn cancel">
            삭제
        </button>
    </div>
    <div style="background-color: #8C8C8C; width: 200px; height: 60px; padding: 20px;">
        <button class="confirm-btn">
            확인
        </button>
        <button class="confirm-btn cancel">
            취소
        </button>
    </div>
    <div style="background-color: #8C8C8C; width: 500px; height: 60px; padding: 18px;">
        <div class="date-pick-wrap">
            <div class="date-btn date-today">오늘</div>
            <div class="date-pick">
                <div class="date-btn date-day">일</div>
                <div class="date-btn date-week">주</div>
                <div class="date-btn date-month">월</div>
            </div>
        </div>
    </div>
    <hr>
    <h3>GNB 메뉴</h3>
    <div style="background-color: #8C8C8C; width: 300px; height: 65px; padding: 10px;">
        <div class="gnb-menu-btn">홈</div>
        <div class="gnb-menu-btn checked">전자결재</div>
    </div>
    <div style="background-color: #8C8C8C; width: 300px; height: 65px; padding: 10px;">
        <div class="avatar-wrap">
            <img src="/imgs/202301261737390.jpg" alt="" class="avatar">
            <span class="first-name">김</span>
        </div>
    </div>
    <hr>
    <label for=""></label>
    <input type="text" name="" id="" class="input-box" placeholder="텍스트는 최대 1줄 까지 입력 가능합니다.">

    <label for=""></label>
    <input type="text" name="" id="" class="input-box small" placeholder="텍스트는 최대 1줄 까지 입력 가능합니다.">

    <div class="input-search-bar">
        <label for="searchInput">
            <input type="text" name="" id="searchInput" class="input-box small search" placeholder="직원 검색">
        </label>
    </div>

    <div class="select-wrap">
        <div class="select-box">
            <div class="select-one">부서 선택</div>
            <img src="/imgs/ic_move_in.svg" alt="화살표">
        </div>
        <div class="sel-options">
            <p>전체</p>
            <p>경영팀</p>
            <p>기획전략팀</p>
            <p>재무팀</p>
            <p>개발팀</p>
            <p>프로덕트 디자인팀</p>
            <p>브랜드 디자인팀</p>
            <p>퍼포먼스 마케팅팀</p>
            <p>콘텐츠 기획팀</p>
            <p>CS팀</p>
        </div>
    </div>
    <hr>
    <h3>헤더</h3>
    <nav>
        <div class="nav-left">
            <h1 class="gnb-logo">
                <a href=""><img src="/imgs/logo_combination.svg" alt="로고"></a>
            </h1>
            <ul>
                <li><a href="" class="gnb-menu-btn checked">홈</a></li>
                <li><a href="" class="gnb-menu-btn">전자결재</a></li>
                <li><a href="" class="gnb-menu-btn">근태관리</a></li>
                <li><a href="" class="gnb-menu-btn">일정관리</a></li>
                <li><a href="" class="gnb-menu-btn">게시판</a></li>
                <li><a href="" class="gnb-menu-btn">조직도</a></li>
                <li><a href="" class="gnb-menu-btn">관리자</a></li>
            </ul>
        </div>
        <div class="profile-menu">
            <a href="" class="gnb-icon on invite"><img src="/imgs/gnb/ic_invite.svg" alt="초대"></a>
            <a href="" class="gnb-icon alarm"><img src="/imgs/gnb/ic_alarm.svg" alt="알림" class="gnb-icon alarm"></a>
            <a href="" class="avatar-wrap">
                <img src="/imgs/202301261737390.jpg" alt="초대" class="avatar">
                <span class="first-name">김</span>
            </a>
        </div>
    </nav>
    <hr>
    <h1>초대모달</h1>
    <div id="invite-modal">
        <div class="modal-head">
            <h3 class="caption-xs font-bold">요청</h3>
            <a href=""><img src="/imgs/main/ic_cancle_small-24x24.svg" alt="취소"></a>
        </div>
        <div class="modal-inner">
            <div class="modal-content">
                <h3 class="content-title caption-xs">새로운 가입 요청이 있어요.</h3>
                <div class="content-info invite caption-xxs">
                    <p>아이디 : rlawlgh486@naver.com</p>
                    <p>코드 : 246825</p>
                </div>
                <div class="modal-btn-wrap">
                    <button class="modal-btn">
                        수락
                    </button>
                    <button class="modal-btn cancel">
                        거절
                    </button>
                </div>
            </div>
        </div>
        <div class="modal-footer"></div>
    </div>
    <hr>
    <br>
    <br>
    <br>
    <h1>알림모달</h1>
    <div id="alarm-modal">
        <div class="modal-head">
            <h3 class="caption-xs font-bold">알림</h3>
            <a href=""><img src="/imgs/main/ic_cancle_small-24x24.svg" alt="취소"></a>
        </div>
        <div class="modal-inner alarm">
            <div class="modal-content">
                <div class="content-title alarm">
                    <p class="caption-xs alarm">카테고리</p>
                    <span class="alarm-circle"></span>
                </div>
                <div class="content-info alarm caption-xs">
                    <p>글자는 최대 2줄 까지 노출됩니다. 글자는 최대 2줄 까지 노출됩니다.글자는 최대 2줄 까지 노출됩니다.</p>
                </div>
                <p class="period-date caption-xxs">1달 전</p>
            </div>
            <div class="modal-content">
                <div class="content-title alarm">
                    <p class="caption-xs alarm">카테고리</p>
                    <span class="alarm-circle"></span>
                </div>
                <div class="content-info alarm caption-xs">
                    <p>글자는 최대 2줄 까지 노출됩니다. 글자는 최대 2줄 까지 노출됩니다.글자는 최대 2줄 까지 노출됩니다.</p>
                </div>
                <p class="period-date caption-xxs">1달 전</p>
            </div>
            <div class="modal-content">
                <div class="content-title alarm">
                    <p class="caption-xs alarm">카테고리</p>
                    <span class="alarm-circle"></span>
                </div>
                <div class="content-info alarm caption-xs">
                    <p>글자는 최대 2줄 까지 노출됩니다. 글자는 최대 2줄 까지 노출됩니다.글자는 최대 2줄 까지 노출됩니다.</p>
                </div>
                <p class="period-date caption-xxs">1달 전</p>
            </div>
            <div class="modal-content">
                <div class="content-title alarm">
                    <p class="caption-xs alarm">카테고리</p>
                    <span class="alarm-circle"></span>
                </div>
                <div class="content-info alarm caption-xs">
                    <p>글자는 최대 2줄 까지 노출됩니다. 글자는 최대 2줄 까지 노출됩니다.글자는 최대 2줄 까지 노출됩니다.</p>
                </div>
                <p class="period-date caption-xxs">1달 전</p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
    <div id="holiday">
        일정
    </div>
    <br>
    <br>
    <hr>
    <p>관리자 사이드 메뉴</p>
    <div class="side-menu-container">
        <div class="side-nav">
            <h1 class="font-bold body-md">관리자</h1>
            <ul class="side-menu">
                <li>
                    <a href="" class="dropdown-menu top-menu">
                        <span>회사정보</span>
                    </a>
                </li>
                <li>
                    <a href="" class="dropdown-menu top-menu">
                        <span>출퇴근 관리</span>
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 11.825L8.825 8L5 4.175L6.18333 3L11.1833 8L6.18333 13L5 11.825Z"
                                  fill="#616161"/>
                        </svg>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="" class="dropdown-menu on">하위메뉴</a>
                        </li>
                        <li>
                            <a href="" class="dropdown-menu">하위메뉴</a>
                        </li>
                        <li>
                            <a href="" class="dropdown-menu">하위메뉴</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="" class="dropdown-menu top-menu">
                        <span>근무/휴가 관리</span>
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 11.825L8.825 8L5 4.175L6.18333 3L11.1833 8L6.18333 13L5 11.825Z"
                                  fill="#616161"/>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="" class="dropdown-menu top-menu">
                        <span>조직원 관리</span>
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 11.825L8.825 8L5 4.175L6.18333 3L11.1833 8L6.18333 13L5 11.825Z"
                                  fill="#616161"/>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="" class="dropdown-menu top-menu">
                        <span>환경 설정</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--<script layout:fragment="pageScripts" src="/js/calender.js"></script>-->
</html>
