/* 근무시간 변경 모달 */
.time-edit-modal {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.25);
}

.time-edit-modal.open { display: block; }
body.scroll { overflow: hidden; }

.edit-modal-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 240px;
    padding: 17px 17px 10px 22px;
    border-radius: 10px;
    background-color: var(--main-bg-white);
}

.edit-modal-header span {
    font-size: var(--body-md-font-size);
    font-weight: var(--medium-weight-500);
}

.work-time-wrap, .after-edit {
    display: flex;
}
.work-time-wrap {
    margin: 27px 0 15px;
    gap: 15px;
}
.work-time-wrap img { margin-top: 10px; }

.after-edit { flex-direction: column; }
.edit-text {
    margin-bottom: 3px;
    font-size: var(--caption-xxs-font-size);
    font-weight: var(--regular-weight-400);
    color: var(--gray-600);
}

.work-time-box {
    width: 100px;
    height: 40px;
    padding: 5px 21px;
    border-radius: 4px;
    background-color: var(--gray-400);
    text-align: center;
}

.before-time {
    line-height: 30px;
    color: var(--main-bg-white);
}

.work-time-input {
    background-color: var(--main-bg-white);
    border: 1px solid var(--gray-300);
}
.edit-work-info { line-height: 21px; }
.edit-btn-wrap {
    margin-top: 52px;
    text-align: right;
}