/* 회원가입양식 푸터 */
/*#join-footer { height: 75px; }*/

.terms-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.terms-list li a {
    color: var(--gray-700);
}

/* 메인 푸터 */