/* 회원가입양식 푸터 */
#join-footer {
    width: 680px;
    height: 75px;
    margin: 0 auto;
    padding: 0 80px;
}

.terms-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.terms-list li a {
    color: var(--gray-700);
}

/* 메인 푸터 */