/* 헤더 GNB 메뉴 */
header {
    position: relative;
    /*width: 100%;*/
}
nav {
    height: 66px;
    padding: 14px 40px;
    background-color: var(--main-bg-white);
}

nav, .nav-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gnb-logo {
    height: 28px;
    margin-right: 31px;
}
.gnb-logo img { height: 100%; }

nav ul {
    display: flex;
    align-items: center;
}

.gnb-menu-btn {
    display: inline-block;
    height: 43px;
    padding: 8px 16px;
    border-radius: 10px;
    background-color: var(--main-bg-white);
    line-height: 27px;
    font-size: var(--body-md-font-size);
    font-weight: var(--bold-weight);
    letter-spacing: var(--font-letterspacing-2);
    cursor: pointer;
}

.gnb-menu-btn.on {
    background-color: var(--main-bg-color);
    color: var(--main-bg-white);
}

.profile-menu {
    display: flex;
    align-items: center;
    gap: 24px;
}
.gnb-icon {
    position: relative;
}

.gnb-icon.on::after {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    top: 3px;
    left: 3px;
    border-radius: 50%;
    background-color: var(--main-bg-color);
}

.avatar-wrap {
    display: inline-block;
    position: relative;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: var(--gray-300);
    overflow: hidden;
}

.avatar-wrap img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.avatar-wrap span {
    position: absolute;
    font-size: var(--body-md-font-size);
    font-weight: var(--bold-weight);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 모달 */
.modal-warp {
    position: relative;
}

.invite-modal, .alarm-modal {
    position: absolute;
    right: 20px;
    width: 280px;
    border-radius: 30px;
    background-color: var(--main-bg-white);
    box-shadow: var(--main-shadow);
    overflow: hidden;
    display: none;
}

.invite-modal { right: 130px; }
.alarm-modal { right: 73px; }

.invite-modal.on, .alarm-modal.on {
    display: block;
}

.modal-inner{
    -ms-overflow-style: none;
}
.modal-inner::-webkit-scrollbar{
    display:none;
}

.modal-inner {
    height: 294px;
    overflow: auto;
}

.modal-inner.alarm {
    height: 346px;
}

.modal-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 28px 8px;
}

.modal-footer { height: 29px }

.modal-content {
    position: relative;
    padding: 24px 32px;
}
.modal-content:not(:last-child)::after {
    position: absolute;
    content: "";
    width: 218px;
    height: 1px;
    bottom: 1px;
    background-color: var(--gray-200);
}

.content-title.alarm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.alarm-circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--main-bg-color);
    align-self: flex-start;
}

.content-info.invite {
    margin-top: 8px;
    color: var(--gray-500);
}

.content-info.alarm {
    width: 216px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.period-date, .content-title.alarm { color: var(--gray-500) }

.period-date { margin-top: 8px; }

.modal-btn-wrap { margin-top: 16px; }

/* 모달 수락/거절 버튼 */
.modal-btn {
    width: 40px;
    height: 20px;
    padding: 2px 6px;
    border-radius: 3px;
    background-color: var(--main-bg-color);
    color: var(--main-bg-white);
    font-size: var(--caption-xxs-font-size);
    font-weight: var(--medium-weight);
}

.modal-btn.cancel {
    border: 1px solid var(--gray-300);
    background-color: var(--main-bg-white);
    color: var(--main-bg-black);
}