#main-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(668px, 1fr));
    gap: 24px;
}

.empty-message {
    height: calc(100% - 81px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--body-sm-font-size);
    font-weight: var(--medium-weight-500);
    color: var(--gray-600);
}

.dashboard-box {
    padding: 16px;
    border-radius: 20px;
    background-color: var(--gray-100);
    box-shadow: var(--main-shadow);
}

.dashboard-box.electric, .dashboard-box.schedule { height: fit-content }

.dashboard-box.white {
    background-color: var(--main-bg-white);
}

.title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    padding: 8px 14px;
}

.title-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.check-electric { color: var(--main-bg-color); }

.show-all {
    display: inline-block;
    font-size: var(--caption-xs-font-size);
    font-weight: var(--medium-weight-500);
    text-decoration: underline;
    color: var(--gray-600);
}

.show-detail { color: var(--gray-600); }

.electric-card, .contents-card {
    display: grid;
    place-content: center;
    align-items: center;
    margin-bottom: 8px;
    padding: 8px 14px;
    background-color: var(--main-bg-white);
    border-radius: 10px;
}

.electric-card.height { padding: 11px 14px; }

.electric-card { grid-template-columns: minmax(168px, 1fr) 440px; }

.contents-card {
    grid-template-columns: minmax(475px, 1fr) 133px;
    gap: 12px;
    height: 65px;
    border-radius: 0;
    border-bottom: 1px solid var(--gray-200);
}

.electric-card:last-child, .contents-card:last-child { margin-bottom: 0; }

.list-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.writer-info, .writer-name {
    display: flex;
    align-items: center;
    padding: 0 8px;
}
.writer-info {
    width: 300px;
    justify-content: center;
    gap: 12px;
}
.writer-name { gap: 4px; }

.writer-info p {
    width: 150px;
    text-align: center;
    position: relative;
}

.writer-info p::before,
.writer-info p::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 19px;
    top: 1px;
    background-color: var(--gray-300);
}
.writer-info p::before { left: -6px; }
.writer-info p::after { right: -6px; }

/* --------------------------------------------------------------- */

/* 스케줄 공통 */
.schedule-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    height: 280px;
}

.schedule-container.height {
    height: 313px;
}

/* 달력은 css 따로있음 */

/* 일정목록 */
.schedule-list {
    min-width: 324px;
    width: 100%;
    height: 100%;
    padding: 16px;
    border-radius: 10px;
    background-color: var(--main-bg-white);
}

.schedule-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 9px 16px;
}

.content-list {
    display: flex;
    align-items: center;
    gap: 6px;
}

.content-list p { font-weight: var(--medium-weight-500); }

.cal-color {
    width: 4px;
    height: 14px;
    background-color: var(--main-bg-color);
    border-radius: 4px;
}

/* --------------------------------------------------------------- */

/* 근태관리 및 휴가현황 공용 */
.status-container {
    height: 374px;
    display: grid;
    grid-template-columns: 312px minmax(340px, 1fr);
    gap: 16px;
}

.dashboard-box.attendance, .dashboard-box.vacation  { width: 100%; }

/* 근태관리 */

.timer {
    width: 279px;
    height: 214px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid var(--gray-300);
    border-radius: 8px;
}

.today, .status-attendance {
    font-weight: var(--medium-weight-500);
    color: var(--gray-700);
}

.punch-in {
    width: 100%;
    border-radius: 10px;
}

/* 휴가현황 */
.dashboard-box.vacation > .card-wrap { padding: 0 14px; }
.contents-card.vacation {
    width: 100%;
    min-width: 100%;
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contents-card.vacation .writer-name { padding: 0; }
.contents-card.vacation .writer-name span { font-size: var(--body-sm-font-size); }